@import "tailwindcss";

*{
  font-family: Outfit;
}
:root {
  --light-hover: #fcf4ff;
  --dark-hover: #2a004a;
  --dark-theme: #11001F;

  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}

.font-ovo {
  font-family: var(--font-ovo);
}

.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white{
  box-shadow: 4px 4px #fff;
}


.hover-shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem; /* optional */
}