@import "tailwindcss";

*{
  font-family: Outfit;
}
:root {
  --light-hover: #faebff;
  --dark-hover: #2a004a;
  --dark-theme: #11001F;

  --font-outfit: 'Outfit', sans-serif;
  --font-ovo: 'Ovo', serif;
}

.font-ovo {
  font-family: var(--font-ovo);
}

.shadow-black {
  box-shadow: 4px 4px 0 #000;
}

.shadow-white{
  box-shadow: 4px 4px #fff;
}


.hover-shadow-black:hover {
  box-shadow: 4px 4px 0 #000;
}
.hover-shadow-white:hover {
  box-shadow: 4px 4px 0 #fff;
}

.grid-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem; /* optional */
}
.underline-animate {
  position: relative;
  display: inline-block;
}

.underline-animate::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 5px; /* adjust spacing from text */
  width: 0;
  height: 2px; /* thickness */
  background-color: #22c55e; /* Tailwind green-500 */
  transition: width 0.5s ease-in-out;
}

.underline-animate:hover::after,
.underline-animate.active::after {
  width: 105%;
}
